.layer.one {
	background: #008BDF;
}

.layer.one .countdown .countdown_section{
	color:#008BDF;
}

/*layer two*/

.address-container > .phones a, .address-container > .phones a:hover{
	color:#FF4B31;
}

.first{
	color:#008BDF;
}

.second{
	color:#FF4B39;
}

.third{
	color:#212121;
}

.third:hover{
	color:#fff;
}
